<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head") %>

<body>

    <!-- Header -->
    <%- include("../partials/header") %>

    <main>
        <div class="contenido">
            <div class="book">
                <img src="/img/products/Comics/avengers_salvajes.png" alt="">
            </div>
            <div class="informaci贸n"> <h1>Aurora</h1>
            </div>
            <div class="precio">
                <div class="box-precio">
                    <span class="precio1">$3500</span>
                </div>
                <span class="shopping"><i class="fas fa-cart-plus"></i></span>
            </div>
            <div class="book">
                <img src="/img/products/Ficcion/al_final_mueren_los_dos.png" alt="">
            </div>
            <div class="informaci贸n"> <h1>Al final mueren los dos</h1>
            </div>
            <div class="precio">
                <div class="box-precio">
                    <span class="precio1">$5500</span>
                </div>
                <span class="shopping"><i class="fas fa-cart-plus"></i></span>
            </div>
            <div class="book">
                <img src="/img/products/Infantil/calculo_hasta_el_10.png" alt="">
            </div>
            <div class="informaci贸n"> <h1>Calculo hasta el 10</h1>
            </div>
            <div class="precio">
                <div class="box-precio">
                    <span class="precio1">$5500</span>
                </div>
                <span class="shopping"><i class="fas fa-cart-plus"></i></span>
            </div>
            <div class="book">
                <img src="/img/products/Mangas/attack_on_titan_vol1.png" alt="">
            </div>
            <div class="informaci贸n"> <h1>Attack on titan vol 1</h1>
            </div>
            <div class="precio">
                <div class="box-precio">
                    <span class="precio1">$5500</span>
                </div>
                <span class="shopping"><i class="fas fa-cart-plus"></i></span>
            </div>
            
            



            

        </div>











    </main>
    
    <!-- Footer -->
    <%- include("../partials/footer") %>
    
</body>
</html>