/*Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/


* {
    font-family: "Playfair+Display";
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
}
/*elimina lo subrayados*/
a {
    text-decoration:none;
}

body{
    background-color: #ebebeb;
}
/*---------ESTILOS DEL HEADER---------*/
.top-header {
    width: 100%;
}
.main-header {
    display: flex;
}
header{
    
    background: #EAC926;
    
}
header div.header1 {
    padding: 10px;
    width: 100%;
}
     /*logo*/
.logo img {
    width: 35%;

}
/*---registro , login, product cars--------*/
.herramientas{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration:none;
    padding: 10px;
    margin-left: 15px;
}
/*faltaria colocar los iconos*/

.herramientas li {
    padding: 10px; 
}
/*barra buscadora*/
.buscador {
    align-items: center;
    display: flex;
    padding: 10px;
}
.buscador p {
    padding-right: 10px;
    
}

.top-header .slogan {
    padding-left: 10px;
    text-align: center;
    color: red;
    font-size: 20px;
}

.herramientas2{
    align-items: center;
    display: flex;
    list-style: none;
    text-decoration:none;
    padding: 10px;
    justify-content: space-around;
}

.herramientas2 li {
    padding: 2px;
    background-color: lightblue;
    border: solid white 5px;
}


section.banner img {
    width: 100%;
}

main section article img {
    width: 100%;
}

.titseccion{
    font-size: 24px;
}
.carrusel{
    font-size: 18px;
    text-align: center;
}
.descuentos{
    font-size: 16px;
}
.descripcion{
    font-size: 16px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #03264C;
    border-radius: 3px;
    color: #FFF;
    font-size: 20px;
    height: 25px;
    margin: 10px 0px 20px 0px;
    padding: 10px ;
    width: 40px;
}
.centrado {
    text-align: center;
}

.secciones{
    background-color: rgb(173, 173, 214);
    color:black
}

div.qr{
    width: 50%;
}

div.qr img{
    width: 20%;
}

div.redesSociales{
    width: 50%;
}

div.redesSociales img{
    width: 20%;
}

.footer1{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.footer1 ul li {
    list-style: none;
}

.footer2{
    display: flex;
    text-align: center;
    padding: 5px;
}

/* Estilos de producto*/
.producto{
    text-align: center;
    transition: 0.3s;
}

.producto:hover{
    background: #03264C;
}