<!DOCTYPE html>
<html lang="en">

<!-- Head -->
    <%- include("./partials/head") %> 

<body>
    
    <!-- Header -->
    <%- include('./partials/header') %>
    <main class="secciones">

        <div class="producto">
            <img src="/img/products/Comics/avengers_salvajes.png"/>
            <h3 >Titulo producto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, sunt illo. Tempora similique fugiat ut eius provident earum consequuntur aperiam, tempore voluptate dolor doloribus cupiditate ipsa illo dolore iure quam?</p>
            <p>2000</p>
        </div>

        <div class="producto">
            <img src="/img/products/Comics/carnage_absoluto.png"/>
            <h3>Titulo producto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, sunt illo. Tempora similique fugiat ut eius provident earum consequuntur aperiam, tempore voluptate dolor doloribus cupiditate ipsa illo dolore iure quam?</p>
            <p>2000</p>
        </div>

        <div class="producto">
            <img src="/img/products/Comics/daredevil.png"/>
            <h3>Titulo producto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, sunt illo. Tempora similique fugiat ut eius provident earum consequuntur aperiam, tempore voluptate dolor doloribus cupiditate ipsa illo dolore iure quam?</p>
            <p>2000</p>
        </div>

        <section>
            <h2 class="titseccion">Novedades</h2>
            <article>
                <img src="\img\aurora.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
        <section>
            <h2 class="titseccion">Los más vendidos</h2>
            <article>
                <img src="\img\brujas.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
        <section>
            <h2 class="titseccion">Destacados en tapa dura</h2>
            <article>
                <img src="\img\dolina.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
        <section>
            <h2 class="titseccion">Destacados en Ebooks</h2>
            <article>
                <img src="\img\rosa.jpeg" alt="">
                <p class="carrusel">carrusel</p>
            </article>
        </section>
    </main>

    <!-- Footer -->
    <%- include("./partials/footer") %>
    
</body>
</html>