<header>
    <nav class="navbar">
        <nav class="navbar-left">
            <div><a onclick="openNav()" class="btn-menu" href="#"><i class="fas fa-bars"></i></a></div>
            <div class="logo"><a href="/"><img src="/img/logo.jpeg" alt=""></a></div>
            <div class="logo"><a href="/"><img width="50%" alt0="></a></div>
            <div class="logo-texto"><a href="/">La librería del 8</a></div>
        </nav>
        <div class="search-box-container">
            <div class="search-box">
                <input type="input" name="" id="" placeholder="Buscar...">
                <button class="button-search"><i class="fas fa-search"></i></button>
            </div>
        
        <nav class="navbar-right">
            <div class="btn-user"><a href="/users/login"><i class="fas fa-user"></i></a></div>
            <div class="btn-cart">
                <a href="/orders/cart"><i class="fas fa-shopping-cart"></i></a>
                <div class="cart-qty"></div>
            </div>
        </nav>
    
    
    
        <ul class="herramientas2">
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Los más vendidos</a></li>
            <li><a href="#">Destacados en tapa dura</a></li>
            <li><a href="#">Destacados en ebooks</a></li>
        </ul>
    </nav>


</header>